.insert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.insert-form {
    width: 500px;
}

.insert-form-item {
    width: 100%;
    height: 32px;
    margin-bottom: 16px;
}

.insert-form-item label {
    width: 20%;
}

.insert-form-item input,
.insert-form-item #gid {
    width: calc(80% - 8px);
    height: 100%;
}

.submit {
    width: 100%;
}